@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
    background: transparent;
}
header ul li a
{
    background: transparent;
    text-decoration: none;
    padding: 6px 15px;
    color: #FFFFFF;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #FFFFFF;
    color: #2b1055;
}
section
{
    background: transparent;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

}
#header
{
    position: absolute;
    color: #FFFFFF;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#exploreBtn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #FFFFFF;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(120px);
}
.sec
{
    position: relative;
    padding: 100px;
}
.sec h2
{
    font-size: 4em;
    margin-top: 10px;
    color: #FFFFFF;
}
.sec h3
{
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 7px;
    color: #7597de;
}
.sec p
{
    font-size: 1.1em;
    color: #FFFFFF;
}
.sec ul
{
    color: #FFFFFF;
    font-size: 1.1em;
    list-style-position: inside;
}
#exampleBtn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #FFFFFF;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(20px);
    z-index: 9;
}
#pageContent
{
    background: linear-gradient(to bottom, #91b793, #50727c, #292E49) fixed;
}
#imprint
{
    background-color: black;
    color: #FFFFFF;
    display: flex;
    padding: 15px;
    justify-content: center;
    column-gap: 20px;
}
#imprint a
{
    color: #999da2;
    text-decoration: none;
}
#imprint h3
{
    font-size: 2em;
}

